{% extends 'admin.html.twig' %}

{% block main %}
<div class="panel-header panel-header-sm">
    <p class="navbar-brand" style="color: whitesmoke">Create new Page</p>
</div>
<div style="background-color: mintcream;">
    {{ include('page/_form.html.twig') }}

    <a href="{{ path('page_index') }}" class="navbar-brand">Back to list</a>
</div>
{% endblock %}
