{% extends 'admin.html.twig' %}

{% block main %}
    <div class="panel-header panel-header-sm">
        <p class="navbar-brand" style="color: whitesmoke">Edit Category</p>
    </div>
<div style="background-color: mintcream;">

    {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('category_index') }}"  class="navbar-brand" style="background-color: mintcream;">Back to list</a>

    {{ include('category/_delete_form.html.twig') }}
</div>
{% endblock %}
